{% extends 'main/layout.html' %}

{% block title%}StoreSports{% endblock %}

{% block content %}
    <div class="features">
        <h1>StoreSports</h1>
        <p>StoreSports - лучший магазин спортивного инвентаря!</p>
    </div>

    <section class="shop_about">
        <div class="small_card">
            <div class="shop_text">
                <h1>Только у нас!</h1>
                    <div class="shop_main_text">
                        Оригинальные футбольные формы! Мячи! Бутсы! И все по выгодной цене!
                    </div>
            </div>
        </div>
    </section>

{% endblock %}